<a href="https://colab.research.google.com/github/Muhammad-Fatah/cars/blob/main/Cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Install Java 8 , Apache Spark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.5.1/spark-3.5.1-bin-hadoop3.tgz
!tar xf spark-3.5.1-bin-hadoop3.tgz
!pip install -q findspark

In [ ]:
#Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.1-bin-hadoop3"

In [ ]:
# menampilkan daftar
!ls

sample_data  spark-3.5.1-bin-hadoop3  spark-3.5.1-bin-hadoop3.tgz  spark-3.5.1-bin-hadoop3.tgz.1

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [ ]:
# Download dan proses Cars Data
!wget https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv

--2024-12-18 08:38:26--  https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobceles.github.io (jacobceles.github.io)... 185.199.110.153, 185.199.111.153, 185.199.109.153, ...
Connecting to jacobceles.github.io (jacobceles.github.io)|185.199.110.153|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv [following]
--2024-12-18 08:38:26--  https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobcelestine.com (jacobcelestine.com)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobcelestine.com (jacobcelestine.com)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22608 (22K) [text/csv]
Saving to: ‘cars.csv’

cars.csv            100%[===================>]  22.08K  --.-KB/s    in 0.002s

2024-12-18 08:38:26 (12.3 MB/s) - ‘cars.csv’ saved [22608/22608]

In [ ]:
#cek daftar
!ls

cars.csv     spark-3.5.1-bin-hadoop3	  spark-3.5.1-bin-hadoop3.tgz.1
sample_data  spark-3.5.1-bin-hadoop3.tgz

In [ ]:
# Load data from csv to a dataframe.
# header=True means the first row is a header
# sep=';' means the column are seperated using ''
df = spark.read.csv('cars.csv', header=True, sep=";")
df.show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [ ]:
#df.show()adalah metode yang paling umum digunakan untuk melihat kerangka data. Ada beberapa parameter yang dapat kita berikan ke metode ini, seperti jumlah baris dan pemotongan. Misalnya, df.show(5, False)atau df.show(5, truncate=False)akan menampilkan seluruh data tanpa pemotongan apa pun.
df.show(5, truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504. |12.0        |70   |US    |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693. |11.5        |70   |US    |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436. |11.0        |70   |US    |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433. |12.0        |70   |US    |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449. |10.5        |70   |US    |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [ ]:
#df.limit(5)akan mengembalikan DataFrame baru dengan mengambil n baris pertama. Karena spark bersifat terdistribusi, tidak ada jaminan bahwa spark df.limit()akan memberikan hasil yang sama setiap saat.
df.limit(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+

In [ ]:
#Melihat Kolom Dataframe
df.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [ ]:
#melihat tipe data dengan df.dtypes
df.dtypes

[('Car', 'string'),
 ('MPG', 'string'),
 ('Cylinders', 'string'),
 ('Displacement', 'string'),
 ('Horsepower', 'string'),
 ('Weight', 'string'),
 ('Acceleration', 'string'),
 ('Model', 'string'),
 ('Origin', 'string')]

In [ ]:
#melihat tipe data dengan df.printSchema()
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

In [ ]:
#menggunakan parameter tersebut inferschema=true untuk menyimpulkan skema input secara otomatis saat memuat data
df = spark.read.csv('cars.csv', header=True, sep=";", inferSchema=True)
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: double (nullable = true)
 |-- Weight: decimal(4,0) (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [ ]:
#Mendefinisikan Skema Secara Eksplisit
from pyspark.sql.types import *
df.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [ ]:
# Membuat daftar skema dalam format kolom_nama, tipe_data
labels = [
     ('Car',StringType()),
     ('MPG',DoubleType()),
     ('Cylinders',IntegerType()),
     ('Displacement',DoubleType()),
     ('Horsepower',DoubleType()),
     ('Weight',DoubleType()),
     ('Acceleration',DoubleType()),
     ('Model',IntegerType()),
     ('Origin',StringType())
]

In [ ]:
# Membuat skema yang akan dilewatkan saat membaca
schema = StructType([StructField (x[0], x[1], True) for x in labels])
schema

StructType([StructField('Car', StringType(), True), StructField('MPG', DoubleType(), True), StructField('Cylinders', IntegerType(), True), StructField('Displacement', DoubleType(), True), StructField('Horsepower', DoubleType(), True), StructField('Weight', DoubleType(), True), StructField('Acceleration', DoubleType(), True), StructField('Model', IntegerType(), True), StructField('Origin', StringType(), True)])

In [ ]:
df = spark.read.csv('cars.csv', header=True, sep=";", schema=schema)
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)

In [ ]:
df.show(truncate=False)

+--------------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                             |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevelle Malibu       |18.0|8        |307.0       |130.0     |3504.0|12.0        |70   |US    |
|Buick Skylark 320               |15.0|8        |350.0       |165.0     |3693.0|11.5        |70   |US    |
|Plymouth Satellite              |18.0|8        |318.0       |150.0     |3436.0|11.0        |70   |US    |
|AMC Rebel SST                   |16.0|8        |304.0       |150.0     |3433.0|12.0        |70   |US    |
|Ford Torino                     |17.0|8        |302.0       |140.0     |3449.0|10.5        |70   |US    |
|Ford Galaxie 500                |15.0|8        |429.0       |198.0     |4341.0|10.0        |70   |US    |
|Chevrolet Impala                |14.0|8        |454.0       |220.0     |4354.0|9.0         |70   |US    |
|Plymouth Fury iii               |14.0|8        |440.0       |215.0     |4312.0|8.5         |70   |US    |
|Pontiac Catalina                |14.0|8        |455.0       |225.0     |4425.0|10.0        |70   |US    |
|AMC Ambassador DPL              |15.0|8        |390.0       |190.0     |3850.0|8.5         |70   |US    |
|Citroen DS-21 Pallas            |0.0 |4        |133.0       |115.0     |3090.0|17.5        |70   |Europe|
|Chevrolet Chevelle Concours (sw)|0.0 |8        |350.0       |165.0     |4142.0|11.5        |70   |US    |
|Ford Torino (sw)                |0.0 |8        |351.0       |153.0     |4034.0|11.0        |70   |US    |
|Plymouth Satellite (sw)         |0.0 |8        |383.0       |175.0     |4166.0|10.5        |70   |US    |
|AMC Rebel SST (sw)              |0.0 |8        |360.0       |175.0     |3850.0|11.0        |70   |US    |
|Dodge Challenger SE             |15.0|8        |383.0       |170.0     |3563.0|10.0        |70   |US    |
|Plymouth 'Cuda 340              |14.0|8        |340.0       |160.0     |3609.0|8.0         |70   |US    |
|Ford Mustang Boss 302           |0.0 |8        |302.0       |140.0     |3353.0|8.0         |70   |US    |
|Chevrolet Monte Carlo           |15.0|8        |400.0       |150.0     |3761.0|9.5         |70   |US    |
|Buick Estate Wagon (sw)         |14.0|8        |455.0       |225.0     |3086.0|10.0        |70   |US    |
+--------------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

In [ ]:
# Memilih Kolom cara 1
print(df.Car)
print("*"*20)
df.select(df.Car).show(truncate=False)

Column<'Car'>
********************
+--------------------------------+
|Car                             |
+--------------------------------+
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
|Buick Estate Wagon (sw)         |
+--------------------------------+
only showing top 20 rows

In [ ]:
# Memilih Kolom cara 2
print(df['car'])
print("*"*20)
df.select(df['car']).show(truncate=False)

Column<'car'>
********************
+--------------------------------+
|car                             |
+--------------------------------+
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
|Buick Estate Wagon (sw)         |
+--------------------------------+
only showing top 20 rows

In [ ]:
# Memilih Kolom cara 3
from pyspark.sql.functions import col
df.select(col('car')).show(truncate=False)

+--------------------------------+
|car                             |
+--------------------------------+
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
|Buick Estate Wagon (sw)         |
+--------------------------------+
only showing top 20 rows

In [ ]:
#Menambahkan kolom baru
#menambahkan kolom baru bernama 'first_column' di akhir
from pyspark.sql.functions import lit
df = df.withColumn('first_column',lit(1))
# lit berarti literal. Ia mengisi baris dengan nilai literal yang diberikan.
# Saat menambahkan data statis/nilai konstan, sebaiknya gunakan ini.
df.show(5,truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|first_column|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504.0|12.0        |70   |US    |1           |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693.0|11.5        |70   |US    |1           |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436.0|11.0        |70   |US    |1           |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433.0|12.0        |70   |US    |1           |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449.0|10.5        |70   |US    |1           |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+
only showing top 5 rows

In [ ]:
#Menambahkan beberapa kolom
#menambahkan dua kolom baru yang disebut 'second_column' dan 'third_column' di bagian akhir
df = df.withColumn('second_column',lit(2)).withColumn('third_column',lit('third'))
# lit berarti literal. Ini mengisi baris dengan nilai literal yang diberikan.
# Saat menambahkan data statis/nilai konstan, sebaiknya gunakan ini.
df.show(5,truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|first_column|second_column|third_column|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504.0|12.0        |70   |US    |1           |2            |third       |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693.0|11.5        |70   |US    |1           |2            |third       |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436.0|11.0        |70   |US    |1           |2            |third       |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433.0|12.0        |70   |US    |1           |2            |third       |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449.0|10.5        |70   |US    |1           |2            |third       |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+------------+
only showing top 5 rows

In [ ]:
#Mendapatkan kolom baru dari kolom yang sudah ada
#menambahkan kolom baru bernama 'car_model' yang memiliki nilai car dan model yang ditambahkan bersama-sama dengan spasi di antaranya
from pyspark.sql.functions import concat
df = df.withColumn('car_model', concat(col("Car"), lit(" "), col("model")))
df.show(5,truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+------------+----------------------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|first_column|second_column|third_column|car_model                   |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+------------+----------------------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504.0|12.0        |70   |US    |1           |2            |third       |Chevrolet Chevelle Malibu 70|
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693.0|11.5        |70   |US    |1           |2            |third       |Buick Skylark 320 70        |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436.0|11.0        |70   |US    |1           |2            |third       |Plymouth Satellite 70       |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433.0|12.0        |70   |US    |1           |2            |third       |AMC Rebel SST 70            |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449.0|10.5        |70   |US    |1           |2            |third       |Ford Torino 70              |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+------------+----------------------------+
only showing top 5 rows

In [ ]:
#Spark SQL
# Muat data
df = spark.read.csv('cars.csv', header=True, sep=";")
# Daftarkan Tabel Sementara
df.createOrReplaceTempView("temp")
# Pilih semua data dari tabel temp
spark.sql("select * from temp limit 5").show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+

In [ ]:
#Hitung jumlah total baris dalam dataset.
spark.sql("SELECT COUNT(*) AS total_rows FROM temp").show()

+----------+
|total_rows|
+----------+
|       406|
+----------+

In [ ]:
# Menampilkan mobil berdasarkan asalnya
spark.sql("SELECT Car, Origin FROM temp").show()

+--------------------+------+
|                 Car|Origin|
+--------------------+------+
|Chevrolet Chevell...|    US|
|   Buick Skylark 320|    US|
|  Plymouth Satellite|    US|
|       AMC Rebel SST|    US|
|         Ford Torino|    US|
|    Ford Galaxie 500|    US|
|    Chevrolet Impala|    US|
|   Plymouth Fury iii|    US|
|    Pontiac Catalina|    US|
|  AMC Ambassador DPL|    US|
|Citroen DS-21 Pallas|Europe|
|Chevrolet Chevell...|    US|
|    Ford Torino (sw)|    US|
|Plymouth Satellit...|    US|
|  AMC Rebel SST (sw)|    US|
| Dodge Challenger SE|    US|
|  Plymouth 'Cuda 340|    US|
|Ford Mustang Boss...|    US|
|Chevrolet Monte C...|    US|
|Buick Estate Wago...|    US|
+--------------------+------+
only showing top 20 rows

In [ ]:
#Menampilkan mobil yang berasal dari Jepang (Origin = 'Japan')
spark.sql("SELECT Car, Origin FROM temp WHERE Origin = 'Japan'").show()

+--------------------+------+
|                 Car|Origin|
+--------------------+------+
|Toyota Corolla Ma...| Japan|
|        Datsun PL510| Japan|
|        Datsun PL510| Japan|
|      Toyota Corolla| Japan|
| Toyota Corolla 1200| Japan|
|         Datsun 1200| Japan|
|Toyota Corolla Ha...| Japan|
|     Mazda RX2 Coupe| Japan|
|     Datsun 510 (sw)| Japan|
|Toyota Corolla Ma...| Japan|
|Toyota Corolla 16...| Japan|
|        Toyota Camry| Japan|
|          Datsun 610| Japan|
|           Mazda RX3| Japan|
|      Toyota Mark II| Japan|
|         Datsun B210| Japan|
| Toyota Corolla 1200| Japan|
|      Toyota Corolla| Japan|
|          Datsun 710| Japan|
|         Honda Civic| Japan|
+--------------------+------+
only showing top 20 rows

In [ ]:
#mencari mobil yang berasal dari USA, Europe, atau Japan
spark.sql("""
SELECT Car, Origin
FROM temp
WHERE Origin IN ('USA', 'Europe', 'Japan')
""").show()

+--------------------+------+
|                 Car|Origin|
+--------------------+------+
|Citroen DS-21 Pallas|Europe|
|Toyota Corolla Ma...| Japan|
|        Datsun PL510| Japan|
|Volkswagen 1131 D...|Europe|
|         Peugeot 504|Europe|
|         Audi 100 LS|Europe|
|            Saab 99e|Europe|
|            BMW 2002|Europe|
|        Datsun PL510| Japan|
|      Toyota Corolla| Japan|
|Volkswagen Super ...|Europe|
|           Opel 1900|Europe|
|         Peugeot 304|Europe|
|           Fiat 124B|Europe|
| Toyota Corolla 1200| Japan|
|         Datsun 1200| Japan|
|Volkswagen Model 111|Europe|
|Toyota Corolla Ha...| Japan|
|   Volkswagen Type 3|Europe|
|     Mazda RX2 Coupe| Japan|
+--------------------+------+
only showing top 20 rows

In [ ]:
#mencari mobil dengan Horsepower antara 100 dan 200
spark.sql("""
SELECT Car, Horsepower
FROM temp
WHERE Horsepower BETWEEN 100 AND 200
""").show()

+--------------------+----------+
|                 Car|Horsepower|
+--------------------+----------+
|Chevrolet Chevell...|     130.0|
|   Buick Skylark 320|     165.0|
|  Plymouth Satellite|     150.0|
|       AMC Rebel SST|     150.0|
|         Ford Torino|     140.0|
|    Ford Galaxie 500|     198.0|
|  AMC Ambassador DPL|     190.0|
|Citroen DS-21 Pallas|     115.0|
|Chevrolet Chevell...|     165.0|
|    Ford Torino (sw)|     153.0|
|Plymouth Satellit...|     175.0|
|  AMC Rebel SST (sw)|     175.0|
| Dodge Challenger SE|     170.0|
|  Plymouth 'Cuda 340|     160.0|
|Ford Mustang Boss...|     140.0|
|Chevrolet Monte C...|     150.0|
|            BMW 2002|     113.0|
|           Chevy C20|     200.0|
|            Hi 1200D|     193.0|
|         AMC Gremlin|     100.0|
+--------------------+----------+
only showing top 20 rows

In [ ]:
#memberi peringkat mobil berdasarkan MPG atau Horsepower
spark.sql("""
SELECT Car, MPG, RANK() OVER (ORDER BY MPG DESC) AS Rank
FROM temp
""").show()

+--------------------+----+----+
|                 Car| MPG|Rank|
+--------------------+----+----+
|            Hi 1200D| 9.0|   1|
|           Mazda GLC|46.6|   2|
| Honda Civic 1500 gl|44.6|   3|
|Volkswagen Rabbit...|44.3|   4|
|   Volkswagen Pickup|44.0|   5|
|Volkswagen Dasher...|43.4|   6|
|Volkswagen Rabbit...|43.1|   7|
|   Volkswagen Rabbit|41.5|   8|
|Renault Lecar Deluxe|40.9|   9|
|          Datsun 210|40.8|  10|
|      Datsun B210 GX|39.4|  11|
|      Toyota Starlet|39.1|  12|
|      Plymouth Champ|39.0|  13|
|Toyota Corolla Te...|38.1|  14|
|Plymouth Horizon ...|38.0|  15|
|         Honda Civic|38.0|  15|
|       Datsun 310 GX|38.0|  15|
|Oldsmobile Cutlas...|38.0|  15|
|       Toyota Tercel|37.7|  19|
|  Fiat Strada Custom|37.3|  20|
+--------------------+----+----+
only showing top 20 rows

In [ ]:
#Menemukan Mobil dengan Horsepower Tertinggi
spark.sql("""
SELECT Car, Horsepower
FROM temp
ORDER BY Horsepower DESC
LIMIT 1
""").show()

+-----------+----------+
|        Car|Horsepower|
+-----------+----------+
|Volvo 244DL|     98.00|
+-----------+----------+

In [ ]:
#Menganalisis Distribusi Jumlah Silinder
spark.sql("""
SELECT Cylinders, COUNT(*) AS Count
FROM temp
GROUP BY Cylinders
ORDER BY Count DESC
""").show()

+---------+-----+
|Cylinders|Count|
+---------+-----+
|        4|  207|
|        8|  108|
|        6|   84|
|        3|    4|
|        5|    3|
+---------+-----+

In [ ]:
#Menampilkan Mobil dari Tahun Tertentu dengan MPG di Atas Rata-Rata
spark.sql("""
SELECT Car, Model, MPG
FROM temp
WHERE Model = 76 AND MPG > (SELECT AVG(MPG) FROM temp)
""").show()

+------------------+-----+----+
|               Car|Model| MPG|
+------------------+-----+----+
|          Fiat 131|   76|28.0|
|         Opel 1900|   76|25.0|
|          Capri ii|   76|25.0|
|        Dodge Colt|   76|26.0|
|      Renault 12tl|   76|27.0|
|     Ford Maverick|   76|24.0|
|Chevrolet Chevette|   76|29.0|
|   Chevrolet Woody|   76|24.5|
| Volkswagen Rabbit|   76|29.0|
|       Honda Civic|   76|33.0|
| Volkswagen Rabbit|   76|29.5|
|      Datsun B-210|   76|32.0|
|    Toyota Corolla|   76|28.0|
|        Ford Pinto|   76|26.5|
+------------------+-----+----+

In [ ]:
#Menampilkan Mobil dari Tahun Tertentu dengan MPG di Atas Rata-Rata
spark.sql("""
SELECT Car, Model, MPG
FROM temp
WHERE Model = 76 AND MPG > (SELECT AVG(MPG) FROM temp)
""").show()

+------------------+-----+----+
|               Car|Model| MPG|
+------------------+-----+----+
|          Fiat 131|   76|28.0|
|         Opel 1900|   76|25.0|
|          Capri ii|   76|25.0|
|        Dodge Colt|   76|26.0|
|      Renault 12tl|   76|27.0|
|     Ford Maverick|   76|24.0|
|Chevrolet Chevette|   76|29.0|
|   Chevrolet Woody|   76|24.5|
| Volkswagen Rabbit|   76|29.0|
|       Honda Civic|   76|33.0|
| Volkswagen Rabbit|   76|29.5|
|      Datsun B-210|   76|32.0|
|    Toyota Corolla|   76|28.0|
|        Ford Pinto|   76|26.5|
+------------------+-----+----+

In [ ]:
#Menampilkan mobil yang diurutkan berdasarkan Horsepower dan Weight untuk melihat performa dan ukuran mobil
spark.sql("""
SELECT Car, Horsepower, Weight
FROM temp
ORDER BY Horsepower DESC, Weight ASC
""").show()

+--------------------+----------+------+
|                 Car|Horsepower|Weight|
+--------------------+----------+------+
|         Volvo 244DL|     98.00| 2945.|
|        Ford Grenada|     98.00| 3525.|
|          Datsun 510|     97.00| 2300.|
|     Mazda RX2 Coupe|     97.00| 2330.|
|       Datsun 200-SX|     97.00| 2405.|
|         Honda Civic|     97.00| 2489.|
|Toyota Corolla Ma...|     97.00| 2506.|
|          Datsun 710|     97.00| 2545.|
|          AMC Hornet|     97.00| 2774.|
|          Datsun 810|     97.00| 2815.|
|          Ford Pinto|     97.00| 2984.|
|   Plymouth Arrow GS|     96.00| 2300.|
|    Toyota Celica GT|     96.00| 2665.|
|      Toyota Corolla|     96.00| 2702.|
|      Toyota Corolla|     95.00| 2228.|
|Toyota Corolla Ha...|     95.00| 2278.|
|Toyota Corolla Ma...|     95.00| 2372.|
|            Saab 99e|     95.00| 2375.|
|Toyota Celica GT ...|     95.00| 2515.|
|      Toyota Corolla|     95.00| 2560.|
+--------------------+----------+------+
only showing top 20 rows

In [ ]:
#Menampilkan semua mobil yang diproduksi pada tahun 1970 atau lebih tua
spark.sql("""
SELECT Car, Model
FROM temp
WHERE Model <= 70
""").show()

+--------------------+-----+
|                 Car|Model|
+--------------------+-----+
|Chevrolet Chevell...|   70|
|   Buick Skylark 320|   70|
|  Plymouth Satellite|   70|
|       AMC Rebel SST|   70|
|         Ford Torino|   70|
|    Ford Galaxie 500|   70|
|    Chevrolet Impala|   70|
|   Plymouth Fury iii|   70|
|    Pontiac Catalina|   70|
|  AMC Ambassador DPL|   70|
|Citroen DS-21 Pallas|   70|
|Chevrolet Chevell...|   70|
|    Ford Torino (sw)|   70|
|Plymouth Satellit...|   70|
|  AMC Rebel SST (sw)|   70|
| Dodge Challenger SE|   70|
|  Plymouth 'Cuda 340|   70|
|Ford Mustang Boss...|   70|
|Chevrolet Monte C...|   70|
|Buick Estate Wago...|   70|
+--------------------+-----+
only showing top 20 rows

In [ ]:
#menghitung jumlah mobil dari setiap asal
spark.sql("""
SELECT Origin, COUNT(*) AS Count
FROM temp
GROUP BY Origin
""").show()

+------+-----+
|Origin|Count|
+------+-----+
|Europe|   73|
|    US|  254|
| Japan|   79|
+------+-----+

In [ ]:
#menghitung total berat semua mobil berdasarkan Origin
spark.sql("""
SELECT Origin, SUM(Weight) AS Total_Weight
FROM temp
GROUP BY Origin
""").show()

+------+------------+
|Origin|Total_Weight|
+------+------------+
|Europe|    177499.0|
|    US|    856666.0|
| Japan|    175477.0|
+------+------------+

In [ ]:
#menghitung rata-rata Horsepower berdasarkan Cylinders
spark.sql("""
SELECT Cylinders, AVG(Horsepower) AS Avg_Horsepower
FROM temp
GROUP BY Cylinders
""").show()

+---------+------------------+
|Cylinders|    Avg_Horsepower|
+---------+------------------+
|        3|             99.25|
|        8| 158.4537037037037|
|        5| 82.33333333333333|
|        6|100.29761904761905|
|        4| 76.57487922705315|
+---------+------------------+

In [ ]:
#menampilkan mobil dengan Horsepower terendah dan tertinggi
spark.sql("""
SELECT MIN(Horsepower) AS Min_Horsepower, MAX(Horsepower) AS Max_Horsepower
FROM temp
""").show()

+--------------+--------------+
|Min_Horsepower|Max_Horsepower|
+--------------+--------------+
|             0|         98.00|
+--------------+--------------+

In [ ]:
# mencari semua mobil yang namanya mengandung kata "Chevrolet"
spark.sql("""
SELECT Car
FROM temp
WHERE Car LIKE '%Chevrolet%'
""").show()

+--------------------+
|                 Car|
+--------------------+
|Chevrolet Chevell...|
|    Chevrolet Impala|
|Chevrolet Chevell...|
|Chevrolet Monte C...|
| Chevrolet Vega 2300|
|Chevrolet Chevell...|
|    Chevrolet Impala|
| Chevrolet Vega (sw)|
|      Chevrolet Vega|
|    Chevrolet Impala|
|Chevrolet Chevell...|
|    Chevrolet Malibu|
|Chevrolet Caprice...|
|Chevrolet Nova Cu...|
|    Chevrolet Impala|
|      Chevrolet Vega|
|Chevrolet Monte C...|
|      Chevrolet Nova|
|      Chevrolet Vega|
|Chevrolet Chevell...|
+--------------------+
only showing top 20 rows

In [ ]:
#mengelompokkan mobil berdasarkan efisiensi bahan bakar MPG
spark.sql("""
SELECT Car,
       CASE
           WHEN MPG > 20 THEN 'Efficient'
           ELSE 'Inefficient'
       END AS Fuel_Efficiency
FROM temp
""").show()

+--------------------+---------------+
|                 Car|Fuel_Efficiency|
+--------------------+---------------+
|Chevrolet Chevell...|    Inefficient|
|   Buick Skylark 320|    Inefficient|
|  Plymouth Satellite|    Inefficient|
|       AMC Rebel SST|    Inefficient|
|         Ford Torino|    Inefficient|
|    Ford Galaxie 500|    Inefficient|
|    Chevrolet Impala|    Inefficient|
|   Plymouth Fury iii|    Inefficient|
|    Pontiac Catalina|    Inefficient|
|  AMC Ambassador DPL|    Inefficient|
|Citroen DS-21 Pallas|    Inefficient|
|Chevrolet Chevell...|    Inefficient|
|    Ford Torino (sw)|    Inefficient|
|Plymouth Satellit...|    Inefficient|
|  AMC Rebel SST (sw)|    Inefficient|
| Dodge Challenger SE|    Inefficient|
|  Plymouth 'Cuda 340|    Inefficient|
|Ford Mustang Boss...|    Inefficient|
|Chevrolet Monte C...|    Inefficient|
|Buick Estate Wago...|    Inefficient|
+--------------------+---------------+
only showing top 20 rows

In [ ]:
#mencari mobil yang tidak memiliki nilai Horsepower
spark.sql("""
SELECT Car
FROM temp
WHERE Horsepower IS NULL
""").show()

+---+
|Car|
+---+
+---+

In [ ]:
# mengonversi MPG yang berbentuk string menjadi tipe float
spark.sql("""
SELECT Car, CAST(MPG AS FLOAT) AS MPG_Float
FROM temp
""").show()

+--------------------+---------+
|                 Car|MPG_Float|
+--------------------+---------+
|Chevrolet Chevell...|     18.0|
|   Buick Skylark 320|     15.0|
|  Plymouth Satellite|     18.0|
|       AMC Rebel SST|     16.0|
|         Ford Torino|     17.0|
|    Ford Galaxie 500|     15.0|
|    Chevrolet Impala|     14.0|
|   Plymouth Fury iii|     14.0|
|    Pontiac Catalina|     14.0|
|  AMC Ambassador DPL|     15.0|
|Citroen DS-21 Pallas|      0.0|
|Chevrolet Chevell...|      0.0|
|    Ford Torino (sw)|      0.0|
|Plymouth Satellit...|      0.0|
|  AMC Rebel SST (sw)|      0.0|
| Dodge Challenger SE|     15.0|
|  Plymouth 'Cuda 340|     14.0|
|Ford Mustang Boss...|      0.0|
|Chevrolet Monte C...|     15.0|
|Buick Estate Wago...|     14.0|
+--------------------+---------+
only showing top 20 rows

In [ ]:
# Membaca data cars.csv untuk membuat temp2
df2 = spark.read.csv('cars.csv', header=True, sep=";")

# Daftarkan df2 sebagai tabel sementara baru
df2.createOrReplaceTempView("temp2")

In [ ]:
#menggabungkan dua dataset yang memiliki kolom Car dan Origin
# dalam hal ini masih menggunakan 1 dataset
spark.sql("""
SELECT Car, Origin FROM temp
UNION
SELECT Car, Origin FROM temp2
""").show()

+--------------------+------+
|                 Car|Origin|
+--------------------+------+
|           Saab 900s|Europe|
|           Saab 99LE|Europe|
|Pontiac J2000 SE ...|    US|
|           AMC Pacer|    US|
|     AMC Concord d/l|    US|
| Chevrolet Vega (sw)|    US|
|  Mercury Capri 2000|    US|
|          Dodge Colt|    US|
|Plymouth Volare C...|    US|
|  Dodge Colt Hardtop|    US|
|Datsun 510 Hatchback| Japan|
|       Buick Century|    US|
|Buick Century Spe...|    US|
|Toyota Corolla Ma...| Japan|
|    Plymouth Valiant|    US|
|      Chevrolet Nova|    US|
|      Ford Escort 2H|    US|
|         Volvo 244DL|Europe|
|            Fiat 131|Europe|
|        Ford Country|    US|
+--------------------+------+
only showing top 20 rows

In [ ]:
#mengambil dua huruf pertama dari nama mobil untuk melihat jenis mobil yang paling banyak
spark.sql("""
SELECT Car, SUBSTRING(Car, 1, 3) AS Car_Prefix
FROM temp
""").show()

+--------------------+----------+
|                 Car|Car_Prefix|
+--------------------+----------+
|Chevrolet Chevell...|       Che|
|   Buick Skylark 320|       Bui|
|  Plymouth Satellite|       Ply|
|       AMC Rebel SST|       AMC|
|         Ford Torino|       For|
|    Ford Galaxie 500|       For|
|    Chevrolet Impala|       Che|
|   Plymouth Fury iii|       Ply|
|    Pontiac Catalina|       Pon|
|  AMC Ambassador DPL|       AMC|
|Citroen DS-21 Pallas|       Cit|
|Chevrolet Chevell...|       Che|
|    Ford Torino (sw)|       For|
|Plymouth Satellit...|       Ply|
|  AMC Rebel SST (sw)|       AMC|
| Dodge Challenger SE|       Dod|
|  Plymouth 'Cuda 340|       Ply|
|Ford Mustang Boss...|       For|
|Chevrolet Monte C...|       Che|
|Buick Estate Wago...|       Bui|
+--------------------+----------+
only showing top 20 rows

In [ ]:
#menghitung panjang nama mobil
spark.sql("""
SELECT Car, LENGTH(Car) AS Car_Name_Length
FROM temp
""").show()

+--------------------+---------------+
|                 Car|Car_Name_Length|
+--------------------+---------------+
|Chevrolet Chevell...|             25|
|   Buick Skylark 320|             17|
|  Plymouth Satellite|             18|
|       AMC Rebel SST|             13|
|         Ford Torino|             11|
|    Ford Galaxie 500|             16|
|    Chevrolet Impala|             16|
|   Plymouth Fury iii|             17|
|    Pontiac Catalina|             16|
|  AMC Ambassador DPL|             18|
|Citroen DS-21 Pallas|             20|
|Chevrolet Chevell...|             32|
|    Ford Torino (sw)|             16|
|Plymouth Satellit...|             23|
|  AMC Rebel SST (sw)|             18|
| Dodge Challenger SE|             19|
|  Plymouth 'Cuda 340|             18|
|Ford Mustang Boss...|             21|
|Chevrolet Monte C...|             21|
|Buick Estate Wago...|             23|
+--------------------+---------------+
only showing top 20 rows

In [ ]:
#membuat kolom baru yang berisi nilai Horsepower dan MPG dalam bentuk array
spark.sql("""
SELECT Car, ARRAY(Horsepower, MPG) AS Car_Performance
FROM temp
""").show()

+--------------------+---------------+
|                 Car|Car_Performance|
+--------------------+---------------+
|Chevrolet Chevell...|  [130.0, 18.0]|
|   Buick Skylark 320|  [165.0, 15.0]|
|  Plymouth Satellite|  [150.0, 18.0]|
|       AMC Rebel SST|  [150.0, 16.0]|
|         Ford Torino|  [140.0, 17.0]|
|    Ford Galaxie 500|  [198.0, 15.0]|
|    Chevrolet Impala|  [220.0, 14.0]|
|   Plymouth Fury iii|  [215.0, 14.0]|
|    Pontiac Catalina|  [225.0, 14.0]|
|  AMC Ambassador DPL|  [190.0, 15.0]|
|Citroen DS-21 Pallas|     [115.0, 0]|
|Chevrolet Chevell...|     [165.0, 0]|
|    Ford Torino (sw)|     [153.0, 0]|
|Plymouth Satellit...|     [175.0, 0]|
|  AMC Rebel SST (sw)|     [175.0, 0]|
| Dodge Challenger SE|  [170.0, 15.0]|
|  Plymouth 'Cuda 340|  [160.0, 14.0]|
|Ford Mustang Boss...|     [140.0, 0]|
|Chevrolet Monte C...|  [150.0, 15.0]|
|Buick Estate Wago...|  [225.0, 14.0]|
+--------------------+---------------+
only showing top 20 rows

In [ ]:
#menggabungkan Car dan Origin menjadi satu kolom Car_Origin
spark.sql("""
SELECT CONCAT(Car, ' - ', Origin) AS Car_Origin
FROM temp
""").show()

+--------------------+
|          Car_Origin|
+--------------------+
|Chevrolet Chevell...|
|Buick Skylark 320...|
|Plymouth Satellit...|
|  AMC Rebel SST - US|
|    Ford Torino - US|
|Ford Galaxie 500 ...|
|Chevrolet Impala ...|
|Plymouth Fury iii...|
|Pontiac Catalina ...|
|AMC Ambassador DP...|
|Citroen DS-21 Pal...|
|Chevrolet Chevell...|
|Ford Torino (sw) ...|
|Plymouth Satellit...|
|AMC Rebel SST (sw...|
|Dodge Challenger ...|
|Plymouth 'Cuda 34...|
|Ford Mustang Boss...|
|Chevrolet Monte C...|
|Buick Estate Wago...|
+--------------------+
only showing top 20 rows